.countries-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
    padding-top: 20px;
}

@media (min-width: 640px) {
    .countries-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 20px 20px;
        padding-top: 30px;
    }
}

@media (min-width: 1024px) {
    .countries-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 100px;
        margin: 20px 100px;
        padding-top: 50px;
    }
}

@media (min-width: 1280px) {
    .countries-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.country-card {
    border-radius: 0.5rem; 
    box-shadow: 0 2px 8px rgba(34, 23, 23, 0.2);
    background-color: #fff;
}

body.dark .country-card {
    background-color: #2a2a2a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.country-image {
    width: 100%;
    height: 150px;

    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;        
    }
}

.modal-image{
    height: 100px;
    margin: 20px;
}

.country-info {
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
    h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: #333;
    }
    h4 {
        margin: 5px 0 0;
        font-size: 14px;
        font-weight: lighter;
        color: #666;
    }
}

body.dark .country-info h3 {
    color: #f0f0f0;
}

body.dark .country-info h4 {
    color: #b0b0b0;
}

